/*aside{
    font-size: 20px !important;
}

.formulario{
    margin: 0 auto;
}
.lista{
    margin-top: 100px;
}
.menu-entidadesBancarias{
    margin-top: 15px;
    margin-bottom: 10px;
}

#tabla{
    margin-top: 50px;
}

th{
    text-decoration: underline;
}

footer{
    margin-top:100px; 

}
#pie{
    position:fixed;
}*/

