/*aside{
    font-size: 20px !important;
}

.formulario{
    margin: 0 auto;
}
.lista{
    margin-top: 100px;
}
.menu-entidadesBancarias{
    margin-top: 15px;
    margin-bottom: 10px;
}

#tabla{
    margin-top: 50px;
}

th{
    text-decoration: underline;
}

footer{
    margin-top:100px; 

}
#pie{
    position:fixed;
}*/

body {
    /*background-color: #e6dec6;*/
    background-color: #cfd9c8;
/*background-color: #E6E6E6;*/
}

.panel {
    margin-top: 150px;
}

.panel-heading {
    border-bottom: none;
    background-color: white !important;
}

.table-responsive {
    margin-bottom: -10px;
}

/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: red;
}*/








