.jumbotron {
    margin-top: 50px;
    margin-bottom: 0;
    height: 710px;
    background-image: url("../../img/fondosite.jpg");
    background-size: cover;
    background-position: center;
    background-color: #464646;
}

.eslogan {
    font-weight: bold;
}

.btn-default {
    margin-top: 50px;
}

footer {
    background-image: linear-gradient(to bottom,#1A0000 0,#330000 100%);
    background-color: red !important;
    color: #8C8C8C;
    font-size: 11px;
    font-weight: bold;
    border-top: 1px solid #404040;
}

footer a {
    color: #8C8C8C;
}

footer a:hover {
    background-image: linear-gradient(to bottom,#330000 0,#660000 100%);
    color: #CCCCCC;
}

footer a:visited {
    color: #8C8C8C;
    background-color: #1A0000 !important;
}

#arriba {
	position: fixed;
	bottom: 90px;
	margin-left: -150px;
}
#arriba a {
	width: 50px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}


#arriba a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#arriba span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(arriba.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#arriba a:hover span {
	background-color: #777;
}

/* Boton de abajo */

#abajo {
	position: fixed;
	bottom: 30px;
	margin-left: -150px;
}
#abajo a {
	width: 50px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#abajo a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#abajo span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(abajo.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#abajo a:hover span {
	background-color: #777;
}
