.jumbotron {
    margin-top: 50px;
    margin-bottom: 0;
    height: 710px;
    background-image: url("../../img/fondosite.jpg");
    background-size: cover;
    background-position: center;
    background-color: #464646;
}

.eslogan {
    font-weight: bold;
}

.btn-default {
    margin-top: 50px;
}

footer {
    background-image: linear-gradient(to bottom,#1A0000 0,#330000 100%);
    background-color: red !important;
    color: #8C8C8C;
    font-size: 11px;
    font-weight: bold;
    border-top: 1px solid #404040;
}

footer a {
    color: #8C8C8C;
}

footer a:hover {
    background-image: linear-gradient(to bottom,#330000 0,#660000 100%);
    color: #CCCCCC;
}

footer a:visited {
    color: #8C8C8C;
    background-color: #1A0000 !important;
}