.jumbotron {
    margin-top: 50px;
    margin-bottom: 0;
    height: 710px;
    background-image: url("../../img/fondosite6.jpg");
    background-size: cover;
    background-position: center;
    background-color: #464646;
}

footer {
    background-image: linear-gradient(to bottom,#330000 0,#4D0000 100%);
    color: #A9905A;
    font-size: 12px;
    border-top: 1.5px solid white;
}

footer a {
    color: grey;
}

footer a:hover {
    background-image: linear-gradient(to bottom,#330000 0,#660000 100%);
    color: #CCCCCC;
}

footer a:visited {
    background-color: #141414;
}