<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a class="tab-activa" href="#/usuario/list">Usuarios</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <th class="text-center">Nickname</th>
                            <th class="text-center">Nombre Completo</th>
                            <th class="text-center">NIF</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Rol</th>
                            <th class="text-center">Accion</th>
                        </tr>
                        <tr ng-repeat="usuario in usuarios">               
                            <td class="text-center">{{usuario.nickName}}</td>
                            <td class="text-center">{{usuario.nombre}}</td> 
                            <td class="text-center">{{usuario.nif}}</td>   
                            <td class="text-center">{{usuario.email}}</td>
                            <td class="text-center">{{usuario.rol}}</td> 
                            <td class="text-center">
                                <a href="#/usuario/detail/{{usuario.idUsuario}}" class="btn btn-primary" role="button">Editar</a>
                                <button ng-click="borrar(usuario.idUsuario)" class="btn btn-danger" role="button">Borrar</button>
                            </td>
                        </tr>         
                    </tbody>     
                </table>
            </div>
        </div>
        <div class="panel-footer text-right">
            <a href="#/usuario/insert" class="btn btn-primary" role="button">Nuevo Usuario</a>
        </div>
    </div>
</div>


