<!--<div class="container lista">
    <div class="row">

        <div class="col-lg-3 col-md-12">
            <aside>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center"><h2 class="text-center">Menu</h2></div>
                    <div class="col-lg-12 text-center">
                       <a href="#/usuario/list">Gestionar Usuarios</a>
                    </div>

                </div>
            </aside>

        </div>
        <div class="col-lg-9 col-md-12">
            <section>

                <h2 class="text-center">Gestion de Usuarios</h2>
            
                <div id="tabla" class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>NickName</th>
                        <th>Nombre</th> 
                        <th>Email</th> 
                        <th>Rol</th>
                        <th>Accion</th> 
                    </tr>
                    <tr ng-repeat="usuario in usuarios">               
                        <td>{{usuario.nickName}}</td>
                        <td>{{usuario.nombre}}</td>   
                        <td>{{usuario.email}}</td> 
                        <td>{{usuario.rol}}</td> 
                        
                        <td>
                            <a href="#/usuario/detail/{{usuario.idUsuario}}" class="btn btn-primary pull-right" role="button">Editar</a>
                            <button ng-click="borrar(usuario.idUsuario)" class="btn btn-danger" role="button">borrar</button>
                                                        
                        </td>
                    </tr>           
                </table>
                    </div>     
                <a href="#/usuario/insert" class="btn btn-primary pull-right" role="button">Añadir</a>



            </section>
        </div>
    </div>
</div>-->

<!--NUEVA INTERFAZ-->
<section>

    <!--<h2 class="text-center">Gestion de Entidad Bancarias</h2>-->
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="#/entidadbancaria/list">Entidades Bancarias</a></li>
                    <li role="presentation" class="active"><a href="#/usuario/list">Sucursales Bancarias</a></li>
                </ul>
            </div>
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>Usuario</th>
                            <th>Usuario</th>
                            <th>Usuario</th>
                            <th>Usuario</th>
                            <th>Usuario</th>
                            <th>Usuario</th>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <th>Codigo Entidad</th>
                            <th>Fecha Creacion</th> 
                            <th>Direccion</th>
                            <th>Cif</th> 
                            <th>Accion</th> 
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <th>Codigo Entidad</th>
                            <th>Fecha Creacion</th> 
                            <th>Direccion</th>
                            <th>Cif</th> 
                            <th>Accion</th> 
                        </tr>
                    </tbody>
                    <!--<tr ng-repeat="entidadBancaria in entidadesBancarias">               
                        <td>{{entidadBancaria.nombre}}</td>  
                        <td>{{entidadBancaria.codigoEntidad}}</td> 
                        <td>{{entidadBancaria.fechaCreacion}}</td> 
                        <td>{{entidadBancaria.direccion}}</td> 
                        <td>{{entidadBancaria.cif}}</td>
                        <td>
                            <a href="#/entidadbancaria/detail/{{entidadBancaria.idEntidadBancaria}}" class="btn btn-primary pull-right" role="button">Editar</a>
                            <button ng-click="borrar(entidadBancaria.idEntidadBancaria)" class="btn btn-danger" role="button">borrar</button>
        
                        </td>
                    </tr>-->           
                </table>
            </div>

            <div class="panel-footer text-right">
                <a href="#/entidadbancaria/insert" class="btn btn-primary" role="button">Añadir</a>
            </div>
        </div>
    </div>

    <!--<div id="tabla" class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Codigo Entidad</th>
                    <th>Fecha Creacion</th> 
                    <th>Direccion</th>
                    <th>Cif</th> 
                    <th>Accion</th> 
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Codigo Entidad</th>
                    <th>Fecha Creacion</th> 
                    <th>Direccion</th>
                    <th>Cif</th> 
                    <th>Accion</th> 
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Codigo Entidad</th>
                    <th>Fecha Creacion</th> 
                    <th>Direccion</th>
                    <th>Cif</th> 
                    <th>Accion</th> 
                </tr>
            </tbody>
    <!--<tr ng-repeat="entidadBancaria in entidadesBancarias">               
        <td>{{entidadBancaria.nombre}}</td>  
        <td>{{entidadBancaria.codigoEntidad}}</td> 
        <td>{{entidadBancaria.fechaCreacion}}</td> 
        <td>{{entidadBancaria.direccion}}</td> 
        <td>{{entidadBancaria.cif}}</td>
        <td>
            <a href="#/entidadbancaria/detail/{{entidadBancaria.idEntidadBancaria}}" class="btn btn-primary pull-right" role="button">Editar</a>
            <button ng-click="borrar(entidadBancaria.idEntidadBancaria)" class="btn btn-danger" role="button">borrar</button>

        </td>
    </tr>-->           
    <!--</table>
</div>     
    <a href="#/entidadbancaria/insert" class="btn btn-primary pull-right" role="button">Añadir</a>-->



</section>
<!--</div>
</div>
</div>-->
