<div class="container lista">
    <div class="row">
 <div class="col-lg-3 col-md-12">
            <aside>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center"><h2 class="text-center">Menu</h2></div>
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-12 text-center menu-entidadesBancarias"><a href="#/usuario/list">Gestionar Usuarios</a></div>

                    </div>

                </div>
            </aside>

        </div>
        <div class="col-lg-9 col-md-12">

            <section>

                <form>
                    <fieldset>

                        <legend>Sucursal Bancaria</legend>
                        <uib-alert ng-repeat="businessMessage in businessMessages"  >{{businessMessage.message}}</uib-alert>
                        <label for="codigoSucursal">Codigo Sucursal:</label><br>
                        <input  id="codigoSucursal" name="codigoSucursal" type="text" ng-model="sucursalBancaria.codigoSucursal" /><br>
                        <label for="nombre">Nombre:</label><br>
                        <input  id="nombre" name="nombre" type="text" ng-model="sucursalBancaria.nombre" /><br>
                        <label for="direccion">Direccion:</label><br>
                        <input  id="direccion" name="direccion" type="text" ng-model="sucursalBancaria.direccion" /><br>  
                        <label for="poblacion">Poblacion:</label><br>
                        <input  id="poblacion" name="poblacion" type="text" ng-model="sucursalBancaria.poblacion" /><br>  
                        <label for="codigoPostal">Codigo Postal:</label><br>
                        <input  id="codigoPostal" name="codigoPostal" type="text" ng-model="sucursalBancaria.codigoPostal" /><br>  
                        <label for="telefono">Telefono:</label><br>
                        <input  id="telefono" name="telefono" type="text" ng-model="sucursalBancaria.telefono" /><br>  
                        <label for="email">Email:</label><br>
                        <input id="email" name="email" type="text" ng-model="sucursalBancaria.email" /><br>
                        <label>Fecha Creacion:</label>
                        <div id="calendario">
                        <uib-datepicker ng-model="sucursalBancaria.fechaCreacion" class="well well-sm" ></uib-datepicker>
                        </div>
                    </fieldset>
                </form>

                <div id="botones">
                    <button ng-click="insertar()" class="btn btn-primary" role="button" ng-hide="control === 'detail'">Insertar</button>
                    <button ng-click="modificar()" class="btn btn-primary" role="button" ng-hide="control === 'insertar'" >Modificar</button> 
                    <a href="#/entidadbancaria/list" class="btn btn-danger" role="button">Cancelar</a>
                </div>

                
            </section>            
        </div>
    </div>
</div>
