<!--

        <label>Fecha Creacion:</label>
        <div id="calendario">
        <uib-datepicker ng-model="sucursalBancaria.fechaCreacion" class="well well-sm" ></uib-datepicker>
        </div>
</div>-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a class="tab-activa">Sucursales Bancarias</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Datos de Sucursal Bancaria</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="codigoSucursal">Codigo Sucursal</label>
                        <input id="codigoSucursal" name="codigoSucursal" type="text" ng-model="sucursalBancaria.codigoSucursal" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" name="nombre" type="text" ng-model="sucursalBancaria.nombre" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="direccion">Direccion</label>
                        <input id="direccion" name="direccion" type="text" ng-model="sucursalBancaria.direccion" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="poblacion">Poblacion</label>
                        <input id="poblacion" name="poblacion" type="text" ng-model="sucursalBancaria.poblacion" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="codigoPostal">Codigo Postal</label>
                        <input id="codigoPostal" name="codigoPostal" type="text" ng-model="sucursalBancaria.codigoPostal" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="telefono">Telefono</label>
                        <input id="telefono" name="telefono" type="text" ng-model="sucursalBancaria.telefono" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="text" ng-model="sucursalBancaria.email" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="fechaCreacion">Fecha de creación</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" date-disabled="disabled(date, mode)" ng-required="true" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10 col-md-offset-1">
                        <div class="alert alert-danger" role="alert" ng-repeat="businessMessage in businessMessages">
                            {{businessMessage.message}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <button ng-click="insertar()" class="btn btn-primary" role="button" ng-hide="control === 'detail'">Insertar Sucursal Bancaria</button>
            <button ng-click="modificar()" class="btn btn-primary" role="button" ng-hide="control === 'insertar'" >Modificar</button> 
            <a href="#/entidadbancaria/list" class="btn btn-danger" role="button">Cancelar</a>
        </div>
    </div>
</div>