.panel {
    margin-top: 25px;
    border-color: #CCCCCC;
}

.panel-heading {
    padding: 15px 0 !important;
    background-color: #F2F2F2 !important;
}

.panel-body {
    padding-top: 25px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

form button {
    margin-top: 30px;
}

@media all and (max-width: 991px) {
    .jumbotron {
        height: 860px;
    }
    
    .panel {
        margin-top: 75px;
        /*margin-bottom: 75px;*/
    }
}

@media all and (max-width: 767px) {
    .jumbotron {
        height: 785px;
    }
}

