



<div class="container lista">
    <div class="row">
              <div class="col-lg-3 col-md-12">
            <aside>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center"><h2 class="text-center">Menu</h2></div>
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-12 col-md-6 text-center menu-entidadesBancarias"><a href="#/entidadbancaria/list">Entidades Bancarias</a></div>
                        <div class="col-lg-12 col-md-6 text-center menu-entidadesBancarias"><a href="#">Sucursales Bancarias</a></div>
                    </div>

                </div>
            </aside>

        </div>
        <div class="col-lg-9 col-md-12">

            <section>

                <form>
                    <fieldset>

                        <legend>Entidad Bancaria</legend>
                        <uib-alert ng-repeat="businessMessage in businessMessages"  >{{businessMessage.message}}</uib-alert>
                        <label for="nombre">Nombre:</label><br>
                        <input  id="nombre" name="nombre" type="text" ng-model="entidadBancaria.nombre" /><br>
                        <label for="codigoEntidad">Codigo Entidad:</label><br>
                        <input size="4"  id="codigoEntidad" name="codigoEntidad" type="text" ng-model="entidadBancaria.codigoEntidad" /><br>
                        <!--
                        <label for="fechaCreacion">Fecha Creacion:</label><input id="fechaCreacion" name="fechaCreacion" type="text" ng-model="dt" /><br>
                        -->
                        <label for="direccion">Direccion:</label><br>
                        <input size="50" id="direccion" name="direccion" type="text" ng-model="entidadBancaria.direccion" /><br>
                        <label for="cif">CIF:</label><br>
                        <input size="9" id="cif" name="cif" type="text" ng-model="entidadBancaria.cif" /><br> 
                        <label>Fecha Creacion:</label>
                        <div id="calendario">
                        <uib-datepicker ng-model="dt" class="well well-sm" ></uib-datepicker>
                        </div>
                    </fieldset>
                </form>

                <div id="botones" >
                    <button ng-click="insertar()" class="btn btn-primary" role="button" ng-hide="control === 'detail'">Insertar</button>
                    <button ng-click="modificar()" class="btn btn-primary" role="button" ng-hide="control === 'insertar'" >Modificar</button> 
                    <a href="#/entidadbancaria/list" class="btn btn-danger" role="button">Cancelar</a>
                </div>

                <!--<ul>
                    <li ng-repeat="businessMessage in businessMessages">{{businessMessage.message}}</li>
                </ul>-->
            </section>            
        </div>
    </div>
</div>

<!--
Nombre: <input type="text" ng-model="entidadBancaria.nombre"><br>
Codigo Entidad: <input type="text" ng-model="entidadBancaria.codigoEntidad"><br>
Fecha Creacion: <input type="text" ng-model="entidadBancaria.fechaCreacion"><br>
Direccion: <input type="text" ng-model="entidadBancaria.direccion"><br>
CI1F: <input type="text" ng-model="entidadBancaria.cif"><br>
-->