
<!--<legend>Entidad Bancaria</legend>
<uib-alert ng-repeat="businessMessage in businessMessages"  >{{businessMessage.message}}</uib-alert>

<label>Fecha Creacion:</label>
<div id="calendario">
<uib-datepicker ng-model="entidadBancaria.fechaCreacion" class="well well-sm" ></uib-datepicker>
</div>
</fieldset>
</form>

<!--
<label for="fechaCreacion">Fecha Creacion:</label><input id="fechaCreacion" name="fechaCreacion" type="text" ng-model="dt" /><br>


<label>Fecha Creacion:</label>
<div id="calendario">
<uib-datepicker ng-model="dt" class="well well-sm" ></uib-datepicker>


<p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>

</div>-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a class="tab-activa">Entidades Bancarias</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Datos de Entidad Bancaria</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" name="nombre" type="text" ng-model="entidadBancaria.nombre" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="codigoEntidad">Codigo</label>
                        <input id="codigoEntidad" name="codigoEntidad" type="text" ng-model="entidadBancaria.codigoEntidad" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="cif">CIF</label>
                        <input id="cif" name="cif" type="text" ng-model="entidadBancaria.cif" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="direccion">Direccion</label>
                        <input id="direccion" name="direccion" type="text" ng-model="entidadBancaria.direccion" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="fechaCreacion">Fecha de creación</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" date-disabled="disabled(date, mode)" ng-required="true" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <!--<div class="row" ng-hide="control === 'insertar'">-->
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li role="presentation"><a class="tab-inactiva" href="#/entidadbancaria/list">Sucursales Bancarias</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Nombre</th>
                                                <th class="text-center">Codigo Sucursal</th>
                                                <th class="text-center">Fecha Creacion</th> 
                                                <th class="text-center">Direccion</th>
                                                <th class="text-center">Poblacion</th> 
                                                <th class="text-center">Codigo Postal</th>
                                                <th class="text-center">Telefono</th> 
                                                <th class="text-center">Email</th>
                                                <th class="text-center">Accion</th>
                                            </tr>
                                            <tr ng-repeat="sucursalBancaria in sucursalesBancarias">               
                                                <td class="text-center">{{sucursalBancaria.nombre}}</td>  
                                                <td class="text-center">{{sucursalBancaria.codigoSucursal}}</td> 
                                                <td class="text-center">{{sucursalBancaria.fechaCreacion}}</td> 
                                                <td class="text-center">{{sucursalBancaria.direccion}}</td> 
                                                <td class="text-center">{{sucursalBancaria.poblacion}}</td>
                                                <td class="text-center">{{sucursalBancaria.codigoPostal}}</td> 
                                                <td class="text-center">{{sucursalBancaria.telefono}}</td> 
                                                <td class="text-center">{{sucursalBancaria.email}}</td>
                                                <td class="text-center">
                                                    <a href="#/entidadbancaria/{{entidadBancaria.idEntidadBancaria}}/sucursalbancaria/detail/{{sucursalBancaria.idSucursalBancaria}}" class="btn btn-primary" role="button">Editar</a>
                                                    <button ng-click="borrar(sucursalBancaria.idSucursalBancaria)" class="btn btn-danger" role="button">Borrar</button>
                                                </td>
                                            </tr>
                                        </tbody>       
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <a href="#/entidadbancaria/{{entidadBancaria.idEntidadBancaria}}/sucursalbancaria/insert" class="btn btn-primary" role="button">Nueva Sucursal Bancaria</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10 col-md-offset-1">
                        <div class="alert alert-danger" role="alert" ng-repeat="businessMessage in businessMessages">
                            {{businessMessage.message}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <button ng-click="insertar()" class="btn btn-primary" role="button" ng-hide="control === 'detail'">Insertar Entidad Bancaria</button>
            <button ng-click="modificar()" class="btn btn-primary" role="button" ng-hide="control === 'insertar'" >Guardar Cambios</button> 
            <a href="#/entidadbancaria/list" class="btn btn-danger" role="button">Cancelar</a>
        </div>
    </div>
</div>


