
<div class="container lista">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <aside>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center"><h2 class="text-center">Menu</h2></div>
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-12 col-md-6 text-center menu-entidadesBancarias"><a href="#/entidadbancaria/list">Entidades Bancarias</a></div>
                        <div class="col-lg-12 col-md-6 text-center menu-entidadesBancarias"><a href="#/cuentabancaria/list">Cuentas Bancarias</a></div>
                    </div>

                </div>
            </aside>

        </div>
        <div class="col-lg-9 col-md-12">
            <section>

                <h2 class="text-center">Gestion de Entidad Bancarias</h2>

                <div id="tabla" class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Numero Cuenta</th>
                            <th>Fecha Creacion</th> 
                            <th>Saldo</th>
                            <th>Codigo Sucursal</th> 
                            <th>Titular</th>
                            <th>Accion</th> 
                        </tr>
                        <tr ng-repeat="cuentaBancaria in cuentasBancarias">               
                            <td>{{cuentaBancaria.numeroCuenta}}</td>
                            <td>{{cuentaBancaria.fechaCreacion | date:'dd/MM/yyyy'}}</td> 
                            <td>{{cuentaBancaria.saldo}}</td> 
                            <td>{{cuentaBancaria.sucursalBancaria.codigoSucursal}}</td> 
                            <td>{{cuentaBancaria.usuario.nif}}</td>
                            <td>             
                                <a href="#/cuentabancaria/detail/{{cuentaBancaria.idCuentaBancaria}}" class="btn btn-primary pull-right" role="button">Editar</a>
                                <button ng-click="borrar(cuentaBancaria.idCuentaBancaria)" class="btn btn-danger" role="button">borrar</button>

                            </td>
                        </tr>           
                    </table>
                </div>     
                <a href="#/cuentabancaria/insert" class="btn btn-primary pull-right" role="button">Añadir</a>



            </section>
        </div>
    </div>
</div>