<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation"><a class="tab-inactiva" href="#/entidadbancaria/list">Entidades Bancarias</a></li>
                <li role="presentation" class="active"><a class="tab-activa" href="#/cuentabancaria/list">Cuentas Bancarias</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <th class="text-center">Numero Cuenta</th>
                            <th class="text-center">Titular</th>
                            <th class="text-center">Codigo Sucursal</th>
                            <th class="text-center">Fecha Creacion</th> 
                            <th class="text-center">Saldo</th>
                            <th class="text-center">Accion</th>
                        </tr>
                        <tr ng-repeat="cuentaBancaria in cuentasBancarias">               
                            <td class="text-center">{{cuentaBancaria.numeroCuenta}}</td>
                            <td class="text-center">{{cuentaBancaria.usuario.nif}}</td>
                            <td class="text-center">{{cuentaBancaria.sucursalBancaria.codigoSucursal}}</td> 
                            <td class="text-center">{{cuentaBancaria.fechaCreacion}}</td> 
                            <td class="text-center">{{cuentaBancaria.saldo}}</td> 
                            <td class="text-center">
                                <a href="#/cuentabancaria/detail/{{cuentaBancaria.idCuentaBancaria}}" class="btn btn-primary" role="button">Editar</a>
                                <button ng-click="borrar(cuentaBancaria.idCuentaBancaria)" class="btn btn-danger" role="button">Borrar</button>
                            </td>
                        </tr>
                    </tbody>       
                </table>
            </div>
        </div>
        <div class="panel-footer text-right">
            <a href="#/cuentabancaria/insert" class="btn btn-primary" role="button">Nueva Cuenta Bancaria</a>
        </div>
    </div>
</div>