
<div class="container lista">
    <div class="row">
              <div class="col-lg-3 col-md-12">
            <aside>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center"><h2 class="text-center">Menu</h2></div>
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-12 col-md-6 text-center menu-entidadesBancarias"><a href="#/entidadbancaria/list">Entidades Bancarias</a></div>
                        <div class="col-lg-12 col-md-6 text-center menu-entidadesBancarias"><a href="#/cuentabancaria/list">Cuentas Bancarias</a></div>
                    </div>

                </div>
            </aside>

        </div>
        <div class="col-lg-9 col-md-12">

            <section>

                <form>
                    <fieldset>

                        <legend>Cuenta Bancaria</legend>
                        <uib-alert ng-repeat="businessMessage in businessMessages"  >{{businessMessage.message}}</uib-alert>
                        
                        <label for="numeroCuenta">Numero Cuenta:</label><br>
                        <input  id="numeroCuenta" name="numeroCuenta" type="text" ng-model="cuentaBancaria.numeroCuenta" /><br>
                        <label for="saldo">Saldo:</label><br>
                        <input  id="saldo" name="saldo" type="text" ng-model="cuentaBancaria.saldo" /><br>

                        <label for="nif">Nif:</label><br>
                        <select id="nif" name="nif"  ng-model="cuentaBancaria.usuario.idUsuario" ng-options="nif.id as nif.dni for nif in nifs"><option value="">--Selecciona un rol--</option></select><br>
                        
                        <label for="codigoSucursal">Codigo Sucursal Bancaria:</label><br>
                        <select id="codigoSucursal" name="codigoSucursal"  ng-model="cuentaBancaria.sucursalBancaria.idSucursalBancaria" ng-options="codigoSucursal.id as codigoSucursal.codigo for codigoSucursal in codigoSucursales"><option value="">--Selecciona un rol--</option></select><br>
                        
                        <label>Fecha Creacion:</label>
                        <div id="calendario">
                        <uib-datepicker ng-model="cuentaBancaria.fechaCreacion" class="well well-sm" ></uib-datepicker>
                        </div>
                    </fieldset>
                </form>

                <div id="botones" >
                    <button ng-click="insertar()" class="btn btn-primary" role="button" ng-hide="control === 'detail'">Insertar</button>
                    <button ng-click="modificar()" class="btn btn-primary" role="button" ng-hide="control === 'insertar'" >Modificar</button> 
                    <a href="#/cuentabancaria/list" class="btn btn-danger" role="button">Cancelar</a>
                </div >
                 
                 
                <!--<ul>
                    <li ng-repeat="businessMessage in businessMessages">{{businessMessage.message}}</li>
                </ul>-->
            </section>            
        </div>
    </div>
</div>
