<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a class="tab-activa">Cuentas Bancarias</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Datos de Cuenta Bancaria</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="numeroCuenta">Numero de Cuenta</label>
                        <input ng-disabled="control === 'detail'" id="numeroCuenta" name="numeroCuenta" type="text" ng-model="cuentaBancaria.numeroCuenta" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="direccion">Saldo</label>
                        <input ng-disabled="control === 'detail'" id="saldo" name="saldo" type="text" ng-model="cuentaBancaria.saldo" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="nif">NIF Titular</label>
                        <select ng-disabled="control === 'detail'" id="nif" name="nif" ng-model="cuentaBancaria.usuario.idUsuario" ng-options="nif.id as nif.dni for nif in nifs" class="form-control">
                            <option value="">--Selecciona NIF--</option>
                        </select>                   
                    </div>
                    <div class="form-group col-md-5">
                        <label for="codigoSucursal">Codigo Sucursal Bancaria</label>
                        <select ng-disabled="control === 'detail'" id="codigoSucursal" name="codigoSucursal" ng-model="cuentaBancaria.sucursalBancaria.idSucursalBancaria" ng-options="codigoSucursal.id as codigoSucursal.codigo for codigoSucursal in codigoSucursales" class="form-control">
                            <option value="">--Selecciona Codigo Sucursal--</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label for="fechaCreacion">Fecha de creación</label>
                        <p class="input-group">
                            <input id="fechaCreacion" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="cuentaBancaria.fechaCreacion" is-open="popup1.opened" show-button-bar="false" show-weeks="false" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10 col-md-offset-1">
                        <div class="alert alert-danger" role="alert" ng-repeat="businessMessage in businessMessages">
                            {{businessMessage.message}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <button ng-click="insertar()" class="btn btn-primary" role="button" ng-hide="control === 'detail'">Insertar Cuenta Bancaria</button>
            <!--<button ng-click="modificar()" class="btn btn-primary" role="button" ng-hide="control === 'insertar'" >Modificar</button>--> 
            <a href="#/cuentabancaria/list" class="btn btn-danger" role="button">Cancelar</a>
        </div>
    </div>
</div>
